---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Funky Station - Home',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Discord',
        href: 'https://discord.gg/5FqgaAA2qF',
        target: '_blank'
      },
      { 
        text: 'GitHub', 
        href: 'https://github.com/funky-station/funky-station'
      },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Funky Station
    </Fragment>

    <Fragment slot="subtitle">
      A fork of a <a href="https://github.com/Goob-Station/Goob-Station"><b>fork</b></a> of <a href="https://github.com/space-wizards/space-station-14">Space Station 14</a>.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <BlogLatestPosts
    title="Devlogs"
    information={`Devlogs posted every month showcasing the latest and greatest from our community and beyond.`}
  />
</Layout>
